<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="add-category-form" th:action="@{/process/car}" th:object="${category}" method="post">
    <div class="form-group" style="border-radius: 2px">
        <input th:field="*{id}" type="hidden">
        <label for="type">Manufacturer</label><br />
        <input id="type" th:field="*{categoryName}" type="text" placeholder="Truck"><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

</body>
</html>